name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.4.6
        with:
          heroku_api_key: ${{secrets.HEROKU_KEY}}
          heroku_app_name: "hexbot16"
          heroku_email: "astonlpz1@protonmail.com"
          branch: "master"